.contact__wrapper {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

@media screen and (max-width: 850px) {
    .contact__wrapper {
        flex-direction: column;
    }
}