.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: var(--offWhite);
    z-index: 1;
    display: flex;
    align-items: center;
}

.nav__center {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.nav__header {
    /* margin: 0 auto; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__header>a {
    text-decoration: none;
    color: var(--primaryColor);
    font-weight: bold;
    font-size: 1.5rem;
}

.nav__btn {
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

.nav__icon {
    font-size: 1.5rem;
    color: var(--primaryColor);
}

.nav__links {
    height: 0;
    overflow: hidden;
    transition: var(--mainTransition);
    list-style-type: none;
}

.nav__links a {
    display: block;
    text-decoration: none;
    padding: 1rem 0;
    color: var(--mainBlack);
    transition: var(--mainTransition);
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: var(--mainSpacing);
}

.nav__links a:hover {
    color: var(--primaryColor);
}

.show__nav {
    height: 100px;
}

@media screen and (min-width: 815px) {
    .nav__btn {
        display: none;
    }

    .nav__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav__links {
        height: auto;
        display: flex;
    }

    .nav__links a {
        margin: 0 1rem;
        padding: 0.5rem 0;
    }
}